<!doctype html>

<html>

<head>
<meta charset="UTF-8">
<link rel="icon" href="img/favicon.png">

<link rel="stylesheet" type="text/css"  href="main.css">
<script src="main.js"></script>
<script src="pako_bundled.js"></script>
</head>

<body onload="init()">
 <h1>QuickDict</h1>
 <div id="menuopener" class="" onclick="toggle_menu()"></div>

 {% block lang_menu %}{% endblock %}

 <div id="search">
   <form action="#" onsubmit="trigger_search(); return false">
   <div class="search_button_space"></div>
     <input type="text" class="intext" id="query" autocomplete="off" spellcheck="false" autocorrect="off"></input>
     <div class="search_button_space">
       <div id="search_symbol" onclick="trigger_search()">&#x1F50D;</div>
       <div id="selected_language" onclick="toggle_language()"></div>
       <div id="language_menu" class="boxed nopadding">
       {% block pick_lang %}{% endblock %}
       </div>
     </div>
     <input type="submit" style="display:none"></input>
   </form>
 </div>
 <div id="outbox" class="boxed">
   <div id="results"></div>
 </div>
</body>
</html>
