{% extends "base.html" %}

{% block lang_menu %}
 <div id="settings" class="boxed">
   {% for language in languages %}
   <div class="language">
     <img src="img/{{language.name}}.png" class="img_flag">
     <div class="text">{{language.size}} MB</div>
     <div id="{{language.name}}_dl" style="display:inline-block">
       <a href="#" onclick="load_dict('{{language.name}}'); return false"><img src="img/download.png" height="40px"></a>
     </div>
     <div class="wrap_circle" id="{{language.name}}_circle">
       <div class="color_circle"></div>
       <div class="number_circle">0</div>
       <div class="load_circle"></div>
     </div>
   </div>
   {% endfor %}
 </div>
{% endblock %}


{% block pick_lang %}
  {% for language in languages %}
    <img src="img/{{language.name}}.png" class="img_flag_small" title="{{language.name | replace("_","-") | upper}}" alt="{{language.name | replace("_","-") | upper}}" onclick="switch_language('{{language.name}}')">
  {% endfor %}
{% endblock %}

