body {
  text-align: center;
  height: 100%;
  background-color: rgba(62,181,168,1.0);
  background-image: linear-gradient(to bottom, rgba(235,235,235,1.0), rgba(205,205,205,0.8), rgba(62, 181, 168,0.8), rgba(62,181,168,1.0)), url("img/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-attachment: initial;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-size: 380%;
  color: rgb(62, 181, 168);
  text-align: center;
}
sub {
  font-size: x-small;
  position: relative;
  left: -8px;
  margin-right: -9px;
}
sup {
  font-size: small;
  position: relative;
  left: -10px;
  margin-right: -9px;
}
#settings {
  padding-left: 70px;
  position: absolute;
  left: 3%;
  top: 5%;
  display: none;
}
#menuopener {
  position: absolute;
  left: 3%;
  top: 5%;
  z-index: 1;
  cursor: pointer;
  background-image: url("img/settings.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  margin: 10px;
}
#menuopener:hover {
  opacity: 1;
}
#search_symbol {
  cursor: pointer;
}
#selected_language {
  cursor: pointer;
  background-image: url("img/eng_deu.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px black solid;
  border-radius: 4px;
  width: 36px;
  height: 18px;
}
.search_button_space {
  display: inline-block;
  width: 40px;
  font-size: x-large;
  text-align: center;
  padding: 10px;
  position: relative;
}
#language_menu {
  position: absolute;
  left: -30px;
  width: 150px;
  display: none;
}
.language {
  text-align: center;
  position: relative;
}
.language .text {
  display: inline-block;
  transform: translateY(-10%);
  width: 2em;
}
#search {
  margin-top: 70px;
}
.boxed {
  display: inline-block;
  border: 1px black dashed;
  background-color: #E6F8E0;
  border-radius: 20px;
  padding: 10px;
}
.nopadding {
  padding: 0;
}
.intext {
  border: 1px black solid;
  border-radius: 15px;
  width: 400px;
  height: 50px;
  padding: 10px;
  font-size: x-large;
  background-color: #E6F8E0;
}
#search_button {
}
#eng_deu_dl, #fra_deu_dl, #spa_deu_dl {
  display: inline;
}
#progress_text {
  width: 50%;
  background-color: #CCC;
  border-radius: 5px;
  padding: 3px;
}
#bar_text {
  width: 100%;
  height: 30px;
  background-color: #4CBF50;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}
.load_circle {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  animation: spin 2s linear infinite;
  animation-play-state: paused;
}
.wrap_circle {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
}
.color_circle {
  position: absolute;
  width: 42px;
  height: 42px;
  background: linear-gradient(to top, #4CBF50 0%,#4CBF50 0%,#f6f6f6 0%,#f6f6f6 100%);
  border-radius: 70%;
}
.number_circle {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 30%;
  font-weight: bold;
}
#outbox {
  margin: 70px;
  padding: 20px;
  width: 80%;
}
#results {
  display: table;
  width: 100%;
}
.result-line {
  display: table-row;
  text-align: center;
  width: 100%;
}
.result-text {
  display: table-cell;
  min-width: 47%;
  max-width: 70%;
  font-size: x-large;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}
.result-icons {
  display: table-cell;
  position: relative;
  width: 50px;
}
.result-img-add {
  background-image: url("img/plus.png");
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}
.more_button {
  font-size: x-large;
  cursor: pointer;
}
.xem { /* inactive */
  background-color: rgba(62, 181, 168, 0.4);
  border-radius: 3px;
  font-style: normal;
}
#results > div:nth-child(2n+1) {
  background-color: rgba(62, 181, 168, 0.4);
}
#results > div:nth-child(2n+1) .result-img-add {
  margin-right: 20px;
}
#results > div:nth-child(2n+1) .xem { /* inactive */
  background-color: rgba(62, 181, 168, 0.4);
}
#results > div:nth-child(2n) .xem { /* inactive */
  background-color: rgba(180, 228, 184, 0.9);
}
.img_flag {
  width: 72px;
  border-radius: 6px;
  border: black 1px solid;
}
.img_flag_small {
  height: 18px;
  border-radius: 4px;
  border: black 1px solid;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
